streamlit
langchain
langchain-community
langchain-openai
langchain-core
langchain-pinecone
langchain-huggingface
transformers
sentence-transformers
torch
pinecone
python-dotenv
fastapi
uvicorn
pydantic
jinja2
